In [1]:
import pandas as pd
from itertools import product
from random import shuffle

In [2]:
file1 = open('First names.txt')
first_names = list()
for name in file1:
    # first_names.append(name.strip())
    ans = name.strip().title()
    first_names.append(ans)
len(first_names)

599

In [3]:
file2 = open('Last names.txt')
last_names = list()
for name in file2:
    ans = name.strip().title()
    last_names.append(ans)
len(last_names)

127

In [4]:
names = list()

for first, last in product(first_names, last_names):
    temp = f'{first} {last}'
    names.append(temp)
shuffle(names)

df = pd.DataFrame(names, columns = ['Name'])
df

                 Name
0       Menuka Pulami
1        Kripa Pandey
2       Shantee Baral
3      Upasna Gartola
4      Subham Koirala
...               ...
76068     Bhanu Nepal
76069   Bhuwan Yonzon
76070    Bhakti Karki
76071      Kabir Khas
76072     Maiya Samal

[76073 rows x 1 columns]

In [5]:
df.to_csv('E:/Python2/Customer Churn/Names_new.csv')

In [6]:
41930 / 7043

5.9534289365327275